/* Basic CSS to style the page */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color: #111;
    color: #fff;
}

/* Particles container styling */
#tsparticles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Make sure particles don't overlap content */
}

/* Container styling for content */
.container {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 50px;
}

/* Styling for search input */
.search-bar {
    padding: 10px;
    width: 70%;
    max-width: 500px;
    margin: 20px auto;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Styling for the error message */
.error-message {
    font-weight: bold;
    color: red;
}

/* Styling for the result table */
#result-table {
    display: none;
    margin-top: 20px;
    width: 100%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

#result-table table {
    width: 80%;
    border-collapse: collapse;
    margin: auto;
}

#result-table td {
    padding: 10px;
    border: 1px solid #fff;
}

/* Styling for preview list */
.preview-item {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.preview-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
